* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  --background-main: rgb(7, 37, 119);
  background-color: var(--background-main);
}

.score-card-container {
  display: grid;
  height: 10rem;
  width: 10rem;
  margin: 0 auto;
  border-radius: 50%;
  padding: solid orange 4rem;
  border: solid white .5rem;
  background-color: orange;
}

.score-card {
  display: grid;
  position: relative;
  width: 15rem;
  height: 1rem;
  margin: 1rem 2rem;
  color: var(--background-main);
  border-radius: 50%;
}

.time {
  height: 4rem;
}

.container {
  display: grid;
  height: 30rem;
  width: 40rem;
  margin: 10rem auto;
}
h4.question, form {
  margin: auto;

}
.question-container {
  display: grid;
  border: solid white 1rem;
  border-radius: 1rem;
  height: 30rem;
  width: 0 auto;
  justify-content: center;
  align-content: center;
  background-color: orange;
  color: var(--background-main)
}
.answer-buttons {
  display: grid;
  width: 40rem;
  height: 10rem;
  margin: 2rem 2rem;
}

.controls {
  margin-top: .5rem auto;
  display: flex;
}

.start-btn, .next-btn, .reset-btn, .submit-btn {
  display: grid;
  margin: 1rem auto;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}


