*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

#question-container {
  min-width: 50%;
  min-height: 50%;
  max-width: 70%;
  max-height: 50%;
  background-color: brown;
  float: right;
}

#controls {
  min-width: 400px;
  min-height: 400px;
  background-color: white;
}

#score-card {
  min-width: 30%;
  min-height: 30%;
  max-width: 30%;
  max-height: 50%;
  background-color: orange;
  float: left;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

#start-btn {
  margin-left: 50%;
  margin-right: 50%;
  min-width: 10%;
  min-height: 10%;
}
